body{
  background-color: antiquewhite;
}
.to-do-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  text-align: center;
}
.header {
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

.user-input-component {
  display: flex;
  flex-direction: column;
  width: 30%;
  
}
.add-task-bar {
  border: 2px solid black;
  height: 30px;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
}
.add-button {
  background-color: rgb(216, 216, 182);
  color: black;
  border-radius: 0px 0px 15px 15px;
  border: none;
}
.add-button:hover {
  border: none;
}
.side-buttons-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.done-button {
  background-color: green;
  color: white;
  margin-bottom: 1vh;
}
.edit-button {
  transition-duration: 1s;
  background-color: beige;
  color: black;
  border: none;
}
.edit-button:hover {
  background-color: darkblue;
  color: white;
  border: none;
}

.delete-button {
  background-color: beige;
  border: none;
  margin-left: 2%;
}

.delete-button:hover {
  background-color: red;
  color: white;
  border: none;
}

.task {
  text-align: left;
  width: 250px;
}

.single-item {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

ol{
  padding: 0;
}